html,
body {
    scrollbar-gutter: stable;
}
body {
    font-family: 'Graphik LCG', sans-serif;
    background-color: #fff;
    color: #52525B;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}
:root {
    --text-color: #52525B;
    --main-color: #525665;
    --primary-hover: #27272A;
    --border-color: #D4D4D8;
    --gray1-color: #A1A1AA;
    --gray2-color: #A6A6A6;
    --back-color: #F4F4F4;
    --back-err-color: rgba(242, 38, 17, 0.07);
    --red-color: #EE6964;
    --red-err-color: #F73E12;
    --button-color: #3F3F46;

}
button {
    font-family: 'Graphik LCG', sans-serif;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    padding: 0;
}
.sprite20 {
    width: 20px;
    height: 20px;
}

/* container */
.true-container {
    width: calc(1360px + 40px * 2);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
@media (max-width: 991px) {
    .true-container {
        padding: 0 30px;
    }
}
@media (max-width: 575px) {
    .true-container {
        padding: 0 20px;
    }
}
.remove-scrolling { 
    overflow: hidden; 
    height: 100vh;
} 
.subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px; 
    margin-bottom: 24px;
}

/* cart */
.cart-header {
    border-bottom: 1px solid var(--border-color);
}
.cart-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;    
}
.cart-header__back {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.cart-header__logo {
}
.cart-header__nav {
    display: flex;
    gap: 32px;
}
.cart-header__nav-item {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;    
}
.cart__wrapper {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
}

/* cart main */
.cart__main {

}
.cart__title {
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    margin: 20px 0 40px 0;
}  

/* order */
.order {
    margin-bottom: 44px;
}
.order__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.order__title {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}
.order__count {
    color: var(--gray1-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.order__share {
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;    
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
.order__products {
}
.products {
}
.products__header {
    background-color: var(--back-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;     
    padding: 0 10px;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;
}
.products__header:after {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.799988 11.2002L7.99999 4.0002L15.2 11.2002" stroke="%2352525B" stroke-width="2"/></svg>') no-repeat center center;
}
.products__wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;    
}
.products.active .products__header:after {
    transform: rotate(180deg);
}
.products.active .products__wrapper {
    max-height: 99em;
}

/* alerts */
.products__alert {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
}
.products__alert a {
    color: var(--text-color);
}
.products__alert-icon {
    flex-shrink: 0;
}
.products__alert-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.products__alert_info {
    background-color: var(--back-color);
}
.products__alert_error {
    background-color: var(--back-err-color);
}

/* products */
.products__list {
}
.products__item {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "img title price"
    "img info info"
    "img count control";
    column-gap: 16px;
    padding: 20px 0;
}
.products__item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}
.products__img {
    grid-area: img;
}
.products__title {
    grid-area: title;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}
.products__price {
    grid-area: price;
    display: flex;
    align-items: center;
    gap: 8px;
}
.price {
}
.price__actual {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.price__old {
    color: var(--gray1-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration: line-through;
}
.price__not-available {
    color: var(--red-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.products__info {
    grid-area: info;
    display: flex;
    gap: 24px;
    color: var(--gray2-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.products__size {
}
.products__articul {
}
.products__count {
    grid-area: count;
    align-self: self-end;
    width: 127px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    padding: 0 12px;
}
.count__value {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.products__control {
    grid-area: control;
    align-self: self-end;
    justify-self: self-end;
    display: flex;
    align-items: center;
    gap: 24px;
}
.products__favorite {
}
.products__trash {
}
@media (max-width: 575px) {
    .products__list {
    }
    .products__item {
        display: grid;
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "img title title"
        "img price price"
        "img info info"
        "img count control";
        column-gap: 8px;
        padding: 16px 0;
    }
    .products__item:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
    .products__img {
        grid-area: img;
    }
    .products__title {
        grid-area: title;
    }
    .products__price {
        grid-area: price;
        display: flex;
    }
    .price {
    }
    .price__actual {
    }
    .price__old {
    }
    .products__info {
        grid-area: info;
        display: flex;
    }
    .products__size {
    }
    .products__articul {
    }
    .products__count {
        grid-area: count;
        align-self: self-end;
    }
    .products__control {
        grid-area: control;
        align-self: self-end;
        justify-self: self-end;
    }
    .products__favorite {
    }
    .products__trash {
    }
}
/* person */
.cart__person {
}
.person {
    margin-bottom: 52px;
}

.person__card {
    background: url(../img/cards_back_dsktp.png) no-repeat right bottom #E2E8F0;
    border-radius: 8px;
    padding: 20px 24px 24px 24px;
    margin-bottom: 20px;
}
.person__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.person-form {
}
.person-form__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}
.person-form__input {
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 0 20px;
}
.person-form__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.person-form__input:focus-visible {
    outline: none;
}
.person-form__btn {
    height: 50px;
    background-color: #F4F4F5;
    border: 1px solid #F4F4F5;
    border-radius: 4px;
    color: var(--gray1-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
/* person info */
.person__info {
}
.person__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.cart-input__wrapper {
    position: relative;
}

/* input */
.cart-input__input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0 16px;
    padding-top: 23px;
    padding-bottom: 7px;
}
.cart-input__input:focus-visible {
    outline: none;
}
.cart-input__input::placeholder {
    visibility: hidden;
}
.cart-input__label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    transition: font-size, top 0.25s ease;
    pointer-events: none;    
}
.cart-input__input:focus ~ .cart-input__label,
.cart-input__input:not(:focus):valid ~ .cart-input__label {
    top: -10px;
    bottom: 0px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;   
    opacity: 1;
    color: var(--gray1-color)
}
.cart-input__err {
    color: var(--red-err-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-top: 10px;
    display: none;
}
/* textarea - доработать */
.cart-textarea {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    resize: none;
    padding: 13px 16px;
}
.cart-textarea:focus-visible {
    outline: none;
}
.cart-textarea::placeholder {
    font-family: 'Graphik LCG', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* checkbox */
.person__checkbox {
    display: flex;
    gap: 32px;
}
.cart-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
}
.cart-checkbox__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray1-color);
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
    margin: 0;
}
.cart-checkbox__input:checked {
    background-color: var(--gray1-color);
    border-color: var(--gray1-color);
    background: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5L5 8.5L11 1" stroke="white"/></svg>') no-repeat center center var(--gray1-color);
}
.cart-checkbox__input:hover:not(:disabled) {
    border-color: var(--gray1-color);
}
.cart-checkbox__input:focus {
    outline: none;
    border-color: var(--gray1-color);
}
.cart-checkbox__input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}
.cart-checkbox__input:disabled ~ .cart-checkbox__label {
    opacity: 0.5;
    cursor: not-allowed;
}

/* delivery */
.delivery__change-wrapper {
    background-color: var(--back-color);   
    padding: 20px;    
    border-radius: 4px;   
    margin-bottom: 24px;  
}
.delivery__change-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.change-box__item {
    width: 100%;
}
.change-box__input {
    display: none;
}
.change-box__label {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border: 1px solid var(--button-color);
    color: var(--text-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.change-box__input:checked ~ .change-box__label {
    background-color: var(--button-color);
    color: #fff;
    transition: background-color 0.25s;
}

.delivery__change-adress {
}
.change-adress {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px 20px;
    margin-top: 20px;
}
.change-adress__title {
    color: var(--gray1-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}
.change-adress__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 44px;
}
.change-adress__adress {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.change-adress__btn {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
}

/* find address */
.find-address {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 24px;
}

.delivery__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.delivery__grid .cart-textarea {
    grid-column: span 2;
}
.delivery__change-courier {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 52px;    
}
/* change card */
.change-card {
    width: 100%;
}
.change-card__input {
    display: none;
}
.change-card__label {
    display: block;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
}
.change-card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.change-card__name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.change-card__name::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="19" height="19" rx="9.5" stroke="%23D4D4D8"/></svg>') no-repeat center center;
}
.change-card__price {
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.change-card__bottom {
    display: flex;
    gap: 4px;
}
.change-card__period,
.change-card__return {
    background-color: var(--back-color);
    border-radius: 40px;
    color: var(--button-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 3px 8px 3px 26px;
    background-repeat: no-repeat;
    background-position: left 8px center;
}
.change-card__period {
    background-image: url('data:image/svg+xml,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7.5" r="4.5" stroke="%233F3F46"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.5 4.5H7.5V7H10V8H6.5L6.5 4.5Z" fill="%233F3F46"/></svg>');
}
.change-card__return {
    background-image: url('data:image/svg+xml,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.1432 6.80059C10.8085 4.81434 9.08041 3.30059 7.0001 3.30059C5.44479 3.30059 4.08854 4.14496 3.36229 5.40059H4.5501H4.9001V6.10059H4.5501H3.03854H2.4501H2.30354H2.1001V5.75059V3.65059V3.30059H2.8001V3.65059V4.97402C3.6576 3.55215 5.21729 2.60059 7.0001 2.60059C9.4676 2.60059 11.5107 4.42496 11.8498 6.80059H11.1432ZM7.0001 11.7006C8.55541 11.7006 9.91166 10.8562 10.6379 9.60059H9.44572H9.09572V8.90059H9.44572H10.9617H11.5457H11.6967H11.8957V9.25059V11.3506V11.7006H11.1957V11.3506V10.0337C10.3382 11.4512 8.78072 12.4006 7.0001 12.4006C4.5326 12.4006 2.48947 10.5762 2.15041 8.20059H2.85916C3.19166 10.1868 4.91979 11.7006 7.0001 11.7006Z" fill="%233F3F46"/></svg>');
}
.change-card__info {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-left: 28px;
}
.change-card__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.change-card__input:checked + .change-card__label {
    border-color: var(--main-color);
}
.change-card__label:hover {
    border-color: var(--main-color);
}
.change-card__input:checked + .change-card__label .change-card__name:before {
    background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="%2352525B"/><circle cx="10" cy="10" r="3" fill="white"/></svg>') no-repeat center center;
}

/* date time */
.delivery__date-time {
}
.date-time {
    margin-bottom: 44px;
}

.date-time__change {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
/* dropdown */
.dropdown {
    position: relative;
    width: 100%;
}
.dropdown__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.dropdown__button:after {
    width: 14px;
    height: 8px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3536 1.35355C13.5488 1.15829 13.5488 0.841784 13.3536 0.646522C13.1583 0.45126 12.8418 0.45126 12.6465 0.646522L7.00004 6.29301L1.35355 0.646522L1.27543 0.582069C1.08135 0.453905 0.817386 0.475658 0.646523 0.646522C0.475658 0.817386 0.453905 1.08135 0.582069 1.27543L0.646523 1.35355L6.64652 7.35355C6.84178 7.54882 7.15829 7.54882 7.35355 7.35355L13.3536 1.35355Z" fill="%2352525B"/></svg>') no-repeat center center;
}
.dropdown__button:hover {
    border-color: var(--primary-hover);
}
.dropdown__content {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
}
.dropdown__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.dropdown__item_active {
    color: var(--primary-hover);
}
.dropdown_open {
}
.dropdown_open .dropdown__button {
    border-color: var(--primary-hover);
}
.dropdown_open .dropdown__button:after {
    transform: rotate(180deg);
}
.dropdown_open .dropdown__content {
    display: flex;
    box-shadow: 0px 8px 16px 0px #09090B0F;
}

/* payment */
.payment__change {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 52px;   
}


/* cart total */
.cart__total {

}
.total {
}
.total__list {
    margin: 48px 0 24px 0;    
}
.total__item {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}
.total__item_title {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
}
.total__item_total {
    font-weight: 500;
}
.total__text {
}
.total__price {
}
/* collapse */
.total__name-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.total__name-btn:after {
    width: 14px;
    height: 8px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3536 1.35355C13.5488 1.15829 13.5488 0.841784 13.3536 0.646522C13.1583 0.45126 12.8418 0.45126 12.6465 0.646522L7.00004 6.29301L1.35355 0.646522L1.27543 0.582069C1.08135 0.453905 0.817386 0.475658 0.646523 0.646522C0.475658 0.817386 0.453905 1.08135 0.582069 1.27543L0.646523 1.35355L6.64652 7.35355C6.84178 7.54882 7.15829 7.54882 7.35355 7.35355L13.3536 1.35355Z" fill="%2352525B"/></svg>') no-repeat center center;
}
.total__item-content {
    padding-left: 24px;
    color: var(--gray2-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;    
}
.total__item-wrapper.active .total__name-btn:after {
    transform: rotate(180deg);
}
.total__item-wrapper.active .total__item-content {
    max-height: 99em;
}
/* promocode */
.promocode,
.certificate {
    position: relative;
    margin-bottom: 10px;
}
.promocode__input,
.certificate__input {
    width: 100%;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 15px 20px;
}
.promocode__input {
    padding-right: 140px;
}
.promocode__input:focus-visible,
.certificate__input:focus-visible {
    outline: none;
}
.promocode__btn-apply {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 34px;
    width: 110px;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}
.promocode__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
}

.total__submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: var(--button-color);
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 24px 0 16px 0;
}
.total__submit-btn:hover {
    background-color: var(--primary-hover);
}
.total__offer-text {
    color: var(--gray1-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.total__offer-text a {
    color: var(--gray1-color);
}

/* modals */
.offcanvas__overlay {
    position: absolute;    
    top: 0;  
    left: 0;     
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity .25s ease;    
    z-index: -1;
}
.offcanvas.is-opened .offcanvas__overlay {
    background-color: #000;
    opacity: 0.5;
}
.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    z-index: 99;
}
.offcanvas.is-opened {
    visibility: visible;
}
.offcanvas__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 658px;
    height: 90%;
    border-radius: 8px;
    padding: 40px 24px 40px 40px;
    transition: opacity 0.25s ease 0s;
    opacity: 0;
    background: #fff;
    z-index: 9;
}
.offcanvas.is-opened .offcanvas__wrapper {
    opacity: 1; 
}
.offcanvas__close {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px 0px #00000014;
    z-index: 99;
}
.offcanvas__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 32px;
}
.offcanvas__content {
    overflow-y: scroll;
    height: 90%;
    scrollbar-width: thin;
}
/* offcanvas text */
.offcanvas__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px; 
    overflow: hidden;
}
.offcanvas__text h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 12px;
}
.offcanvas__text h3:not(:first-child) {
    margin-top: 12px;
}
.offcanvas__text p {
    margin-bottom: 12px;
}
.offcanvas__text ul {
    margin: 12px 0;
    list-style-type: disc;
    padding-left: 20px;
}
  
@media (max-width: 991px) {
    .offcanvas__wrapper {
        width: 90%;
    }
}
@media (max-width: 575px) {
    .offcanvas__wrapper {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease 0s, opacity 0.25s ease 0s;
        transform: translateY(100%);
        opacity: 0;
    }
    .offcanvas.is-opened .offcanvas__wrapper {
        transform: translateY(0);
        opacity: 1;
    }
}